<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <a href="#" class="navbar-brand"  routerLink="/" routerLinkActive="active">BookList App</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/books" routerLinkActive="active">I miei libri</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/add" routerLinkActive="active">Aggiungi un libro</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
