<div class="stat-card">           
    <div class="card">
        <div class="card-body">
            <div class="media-d-flex">
                <div class="align-self-center">                           
                    <i class="primary float-left"><fa-icon [icon]="faIcon" size="3x" [styles]="{'stroke': '#e74c3c', 'color': '#e74c3c'}"></fa-icon></i>
                </div>
                <div class="media-body text-right">
                    <h3>{{statNumber}}</h3>
                    <span class="subText">{{subText}}</span>
                </div>
            </div>
        </div>
    </div>
</div>